@model SchoolApplication.Models.ViewModels.Registration

<h2>Регистрация</h2>

<form asp-action="Registration" asp-anti-forgery="true">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div>
        <div>
            <label asp-for="UserName">Введите Email</label><br />
            <input type="text" asp-for="UserName" />
            <span asp-validation-for="UserName" />
        </div>
        <div>
            <label asp-for="Password">Введите пароль</label><br />
            <input asp-for="Password" />
            <span asp-validation-for="Password" />
        </div>
        <div>
            <label asp-for="ConfirmPassword">Подтвердите пароль</label><br />
            <input asp-for="ConfirmPassword" />
            <span asp-validation-for="ConfirmPassword" />
        </div>
        <div>
            <label asp-for="IsAuthor">Регистрация в качестве создателя тестов</label><br />
            <input type="checkbox" asp-for="IsAuthor" />
            <span asp-validation-for="IsAuthor" />
        </div>
        <div>
            <input type="submit" value="Войти" />
        </div>
    </div>
</form>