@using Microsoft.AspNetCore.Identity;
@model ICollection<IdentityUserRole<string>>
<table class="table">
    <thead>
        <tr>
            <th>Пользователь</th>
            <th>Roles</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var userRole in Model)
        { 
            <tr>
                <th>@userRole.</th>
            </tr>
        }
    </tbody>
</table>